/*      REGLAS      */
@font-face{
    font-family: anybody;
    src: url(./public/Anybody-VariableFont_wdth,wght.ttf);
}

body{
    font-family: anybody;
    color: black;
    font-size: 25px;
    margin-top: 15%
}
@keyframes anim {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*      NOMBRE Y DESCRIPCION     */
.presentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
}
.desc{
    width: 29%;
    animation: anim 4s cubic-bezier(0.11, 0, 0.5, 0) normal forwards;
}
.nombre{
    font-size: 60px;
    animation: anim 2s cubic-bezier(0.11, 0, 0.5, 0) normal forwards;
}

/*      LINKS      */
a{
    text-decoration: none;
    color: black
}
.links{
    display: flex;
    margin: auto;
    justify-content: center;
}
.links a{
    padding: 20px;
}
.a1{
    animation: anim 5.3s cubic-bezier(0.11, 0, 0.5, 0) normal forwards;
}
.a2{
    animation: anim 5.6s cubic-bezier(0.11, 0, 0.5, 0) normal forwards;
}
.a3{
    animation: anim 5.9s cubic-bezier(0.11, 0, 0.5, 0) normal forwards;
}





